[buildout]
extends =
		alpha_v3_dataserver_environment.cfg

always-checkout = true
# NOTE: When extending multiple base configs,
# only the parts from the bottom config are
# installed by default (even if they all use 'parts +=').
# So if we want to install parts from both configs,
# we need to explicitly list them.
parts =
		logrotate
		logrotate-conf
		logrotate-cron
		libgmp
		pycrypto
		libyaml
		pyyaml
		cython
		lxml
		pillow
		eggs
		checkversions
		passwords
		directories
		zcml
		main-conf
		pserve-conf
		gunicorn-conf
		library-conf
		clean-pyc
		roles
		mysql
		MySQL-python
		supervisor
		relstorages
		qp-cron
		tahrir-conf
		analytics-conf
		analytics-conf
		analytics-changemaker-conf
		analytics-columbia-conf
		analytics-edbooks-conf
		analytics-greatexpectations-conf
		analytics-i2-conf
		analytics-iled-conf
		analytics-k20-conf
		analytics-litworld-conf
		analytics-movingup-conf
		analytics-ona-conf
		analytics-osde-conf
		analytics-prmia-conf
		analytics-spurstartup-conf
		feed-utility-conf
		solr-conf
		
[gunicorn-conf]
preload_app = true
# Distribute load better across instances
worker_connections = 250
workers = 4

[supervisor]
# Disable supervisord based log rotation because we have switched to using logrotate
logfile-maxbytes = 0
childstdout-logfile-maxbytes = 0
childstderr-logfile-maxbytes = 0
# Don't wipe away existing logs
nocleanup = True
pserve_group_programs = pserve
programs =
        999 pserve ${deployment:root-directory}/bin/nti_pserve [${:pserve-ini}]

