[buildout]
extends =
		base_environment.cfg
		logrotate.cfg
		webapps.cfg
		sites.cfg
		landingpages.cfg
		supervisor.cfg
		nginx.cfg

always-checkout = true
# NOTE: When extending multiple base configs,
# only the parts from the bottom config are
# installed by default (even if they all use 'parts +=').
# So if we want to install parts from both configs,
# we need to explicitly list them.
parts =
		logrotate
		logrotate-conf
		logrotate-cron
		directories
		zlib
		pcre
		openssl
		eggs
		nginx
		supervisor
		nginx-conf
		webapp-conf
		npm
		grunt
		nodeserver-env
		nodeserver
		app-minify
		deploy-mobile-app
		client-site-package-conf
		client-site-package
		${site-ALL-nginx:nginx}

[landingpage-sources]
<= landingpage-ALL-sources

[eggs]
eggs = 
	nti.app.pyramid_zope

[webapp-versions]
NextThoughtWebApp = branch=master
NextThoughtLoginApp = @88791
MobileApp = branch=master

[landingpage-versions]
connect = branch=master
historychannel = branch=master
mathcountsaopsou = branch=master
okstate = branch=master
severeweather = branch=master
spurstartup = branch=master

[nodeserver-env]
app-version = ${webapp-versions:MobileApp}
node-ip = 0.0.0.0
dataserver-ip = lb.alpha
dataserver-port = ${environment:haproxy_http_port}
app-version = ${webapp-versions:MobileApp}

[environment]
smtp_server = email-smtp.us-east-1.amazonaws.com
smtp_username = AKIAIOO43PY4ANWEYP2Q
smtp_port = 587
global_host_name = alpha.nextthought.com
global_content_directory = ${buildout:directory}/../DataserverGlobalLibrary
global_content_location = /content/

haproxy_http_port = 2080

# Because of the order of inclusion, we need this here
webapp_path = ${buildout:sources-dir}/nti.web.app
loginapp_path = ${buildout:sources-dir}/NextThoughtLoginApp

[environment-haproxy]
proxy_port = 20036

[nginx-conf]
nginx_dataserver_port = tier2.alpha:${environment:haproxy_http_port}
global_host_name = ""
nginx_daemon = off
nginx_ip = 0.0.0.0
nginx_extra_binds = 

[webapp-conf]
allow_mobile_safari = true
unauth_location = /login/
features =
		"mutable-forums":true,
		"fancy-scroll":true,
		"notepad":false,
		"v3matching":true,
		"threaded-forums":true,
		"transcript-follow-video": true,
		"bulk-resolve-users": true,
		"kaltura.progressive": true,
		"video-settings":true,
		"analytic-reports":true,
		"show-open-students-first":false,
		"notifications": true,
		"badges":true,
		"capture-analytics":true,
		"hide-add-books":true,
		"gradebook-state":true,
		"default-avatar-to-initials":true,
		"instructor-email":true,
		"email-verification":true,
		"profile-activity-filters":true,
		"file-upload":true,
		"section-switcher":true

# Point alpha webapp to the test player
kalturaUIID = 22104902

# Open external PDF Content Card links in a new tab
external_pdf_new_window = true

[site-history-nginx]
landingpage_path = ${buildout:root-directory}/sources/nti.content.landingpage.historychannel/client.history-channel/dist

[site-i2-nginx]
extra_config =
	location ~ ^/widgets/([A-Za-z0-9_-]+)$ {
		return 301 $uri_scheme://$host/widgets/$1/;
	}

	location ~ ^/widgets/([A-Za-z0-9_-]+)/$ {
		alias ${buildout:directory}/node_modules/nti-web-widget-$1/dist/;
	}

	location ~ ^/widgets/([A-Za-z0-9_-]+)/(.+)$ {
		alias ${buildout:directory}/node_modules/nti-web-widget-$1/dist/$2;
	}


[site-janux-nginx]
extra_config =
	location ~* /masters/([A-Za-z0-9_-]*)$ {
		return 301 $uri_scheme://$host/masters/$1/;
	}

	location /masters/ {
		proxy_pass http://masters-alpha.ou.edu.s3-website-us-east-1.amazonaws.com/;
		proxy_intercept_errors on;
		error_page 403 @login;
		error_page 404 @login;
	}

[site-okstate-nginx]
extra_config =
	location ~* /courses/([A-Za-z0-9_-]*)$ {
		return 301 $uri_scheme://$host/courses/$1/;
	}

	location /courses/ {
		proxy_pass http://okstate-courses-alpha.nextthought.com.s3-website-us-east-1.amazonaws.com/;
		proxy_intercept_errors on;
		error_page 403 @login;
		error_page 404 @login;
	}

[client-site-package-conf]
recipe = nti.recipes.json
output-file = ${buildout:directory}/package.json
contents-section = client-site-package-conf-main

[client-site-package-conf-main]
name = nti-buildout-alpha
version = 0.0.1
description = NextThought Buildout Alpha NodeJS Library
author = NextThought
private = true
dependencies-section = client-site-package-conf-deps

[client-site-package-conf-deps]
nti-client-sites-alpha = *
nti-client-sites-changemaker = *
nti-client-sites-columbia = *
nti-client-sites-connect = *
nti-client-sites-edbooks = *
nti-client-sites-gen-lab = *
nti-client-sites-greatexpectations = *
nti-client-sites-i2 = *
nti-client-sites-iled = *
nti-client-sites-janux = *
nti-client-sites-k20 = *
nti-client-sites-litworld = *
nti-client-sites-mathcounts = *
nti-client-sites-movingup = *
nti-client-sites-oc = *
nti-client-sites-okstate = *
nti-client-sites-ona = *
nti-client-sites-osde = *
nti-client-sites-prmia = *
nti-client-sites-symmys = *
nti-client-sites-santafesouth = *
nti-client-sites-spurstartup = *
nti-client-sites-wiley = *
nti-content-landingpage-connect = *
#nti-content-landingpage-historychannel = file:${buildout:directory}/sources/nti.content.landingpage.historychannel/client.history-channel
nti-content-landingpage-iled = *
nti-content-landingpage-janux = *
nti-content-landingpage-okstate = *
nti-web-service = *

[client-site-package]
recipe = collective.recipe.cmd
on_install = true
on_update = true
site-asset-package = ${buildout:root-directory}
srcdir = ${buildout:root-directory}/sources/
cmds =
	 pushd ${:site-asset-package}
	 export PATH=${buildout:root-directory}/node_modules/.bin:$PATH
	 ${buildout:root-directory}/bin/npm install
	 ${buildout:root-directory}/bin/npm update
	 popd
	 pushd ${:srcdir}/nti.content.landingpage.historychannel/client.history-channel
	 ${buildout:root-directory}/bin/npm install
	 ${buildout:root-directory}/bin/grunt build --environment="alpha" --app-root="https://ou-alpha.nextthought.com/app" --login-root="https://ou-alpha.nextthought.com/login" --widget-root="https://ou-alpha.nextthought.com/widgets"
	 popd

[supervisor]
# Disable supervisord based log rotation because we have switched to using logrotate
logfile-maxbytes = 0
childstdout-logfile-maxbytes = 0
childstderr-logfile-maxbytes = 0
# Don't wipe away existing logs
nocleanup = True
eventlisteners =
groups =
programs =
         1 nginx ${deployment:bin-directory}/nginx
         1 node ${deployment:bin-directory}/node [${deployment:root-directory}/node_modules/nti-web-service/ -l ${nodeserver-env:node-ip} -p ${nodeserver-env:http-port} --dataserver-host ${nodeserver-env:dataserver-ip} --dataserver-port ${nodeserver-env:dataserver-port} --protocol proxy --config ${deployment:root-directory}/etc/nodeserver/nodeserver-env.json]
