[versions]
pyparsing = 2.0.0
pyparsing = 2.0.1
pyparsing = 2.0.2

# Lingua 2.0 breaks the currently released
# babel. We either have to change processes
# that extract messages and update catalogs,
# or wait for a new babel release
lingua = 2.0
lingua = 2.1
lingua = 2.2
lingua = 2.3

# rope 0.10.0 and 0.10.1 are brownbag releases
# that don't install
rope = 0.10.0
rope = 0.10.1

# JAM 20140613: gunicorn 19.0.0 has some massive
# changes that need some code adaptation;
# however, it also has some identified bugs
# and a 19.0.1 version is expected soon anyway
# so we'll wait for that
gunicorn = 19.0.0

# 3.3.5 is a brown-bag release. See 
# https://github.com/zopyx/zopyx.txng3.ext/issues/4
zopyx.txng3.ext = 3.3.5
