[buildout]
extends =
		phantomjs.cfg
		imagemagick.cfg

[contentrendering-sources]
nti.contenttools = svn https://repos.nextthought.com/svn/nti-svn/nti.contenttools/trunk
nti.contentrendering = svn https://repos.nextthought.com/svn/nti-svn/nti.contentrendering/trunk${server-versions:All}
nti.contentrendering_indexing = svn https://repos.nextthought.com/svn/nti-svn/nti.contentrendering_indexing/trunk${server-versions:All}
nti.contentrendering_assessment = svn https://repos.nextthought.com/svn/nti-svn/nti.contentrendering_assessment/trunk${server-versions:All}

[rendering-ALL-eggs]
eggs =
	 nti.assessment
	 nti.common
	 nti.contentfragments
	 nti.contentindexing
	 nti.contentprocessing
	 nti.contentrendering
	 nti.contentrendering_indexing
	 nti.contentrendering_assessment
	 nti.contenttypes.presentation
	 nti.coremetadata
	 nti.dataserver_core
	 nti.dataserver_fragments
	 nti.dublincore
	 nti.externalization
	 nti.futures
	 nti.mimetype
	 nti.namedfile
	 nti.ntiids
	 nti.openmath
	 nti.plasTeX
	 nti.schema
	 nti.wref
	 nti.zodb

[tex-live-installer]
recipe = hexagonit.recipe.download
url = http://mirror.ctan.org/systems/texlive/tlnet/install-tl-unx.tar.gz
strip-top-level-dir = true

[tex-live-profile]
recipe = z3c.recipe.filetemplate
source-directory = templates
files = texlive.profile

texlive-dir = ${buildout:root-directory}/parts/texlive

[tex-live]
recipe = collective.recipe.cmd
on_install = true
# Even using the small distribution, it takes
# ~30 minutes to install this.
# We're creating it portable, so we may be able to
# store an archive of the dir and just unpack
# that?
cmds = ${tex-live-installer:destination}/install-tl -portable -profile ${buildout:root-directory}/etc/texlive.profile

[tex-live:macosx]
recipe = hexagonit.recipe.download
url = https://s3.amazonaws.com/dev.nextthought.com/texlive.tar.bz2
strip-top-level-dir = true

[asymptote-gc]
recipe = hexagonit.recipe.download
url = http://www.hpl.hp.com/personal/Hans_Boehm/gc/gc_source/gc-7.2d.tar.gz
destination=${buildout:directory}/parts/asymptote

[asymptote]
recipe = hexagonit.recipe.cmmi
url = http://sourceforge.net/projects/asymptote/files/2.24/asymptote-2.24.src.tgz
make-targets =
			 all
			 install

[pngcrush]
recipe = hexagonit.recipe.cmmi
version = 1.8.1
url = https://downloads.nextthought.com/deps/pngcrush-1.8.1.tar.gz
keep-compile-dir = true
configure-command = true
make-targets = all

[eggs]
# Add our installed binaries to the PATH for
# these utilities
initialization +=
			 os.environ['PATH'] = "${deployment:root-directory}/parts/phantomjs/bin" + os.pathsep + "${tex-live-profile:texlive-dir}/bin/x86_64-darwin" + os.pathsep + os.environ['PATH']
			 os.environ['PATH'] = "${imagemagick:location}/bin" + os.pathsep + os.environ['PATH']
			 os.environ['PATH'] = "${pngcrush:compile-directory}/pngcrush-${pngcrush:version}" + os.pathsep + os.environ['PATH']
			 os.environ['MAGICK_HOME'] = "${imagemagick:location}"
			 os.environ['DYLD_LIBRARY_PATH'] = "${imagemagick:location}/lib"
