# A mixin for configuring the legacy login app

[environment]
loginapp_path = ${buildout:sources-dir}/NextThoughtLoginApp

[webapp-versions]
NextThoughtLoginApp =

[webapp-sources]
NextThoughtLoginApp = svn https://repos.nextthought.com/svn/nti-svn/NextThoughtLoginApp/trunk${webapp-versions:NextThoughtLoginApp} egg=false

[loginapp-file-links]
# As a convenience for developers, this part can link the .in
# files to their plain 'deployed' files
recipe = collective.recipe.cmd
on_install = true
cmds = for i in ${buildout:sources-dir}/NextThoughtLoginApp/src/main/WebApp/*.in; do ln -sf $i `dirname $i`/`basename $i .in`; done

