[buildout]
# A mixin for configuring common items needed by node based apps

[npm]
recipe = gp.recipe.node
version = 6.1.0
npms =  npm

[node-service-env]
address = 0.0.0.0
port = 8083
dataserver-address = localhost
dataserver-port = ${environment:haproxy_http_port}

[nodeserver-env]
recipe = nti.recipes.json
output-file = ${buildout:directory}/etc/nodeserver-env.json
contents-section = nodeserver-env-root

[nodeserver-env-root]
site-mappings-section = nodeserver-env-site-mappings

[nodeserver-env-keys]
googleapi-section = nodeserver-env-keys-googleapi

[nodeserver-env-keys-googleapi]
default = AIzaSyBBn5OgUguvcK0pOgD5C1hD1KJKZEs9MT4
platform.ou.edu = default

[nodeserver-env-external-libraries]
mathquill-section = nodeserver-env-external-libraries-mathquill
jquery-section = nodeserver-env-external-libraries-jquery
jquery.payment-section = nodeserver-env-external-libraries-jquery.payment
stripe-section = nodeserver-env-external-libraries-stripe

[nodeserver-env-external-libraries-mathquill]
requires =
    jquery
    **end-list**
url = /vendor/mathquill-0.9.4/mathquill.min.js
definesSymbol = jQuery.fn.mathquill
stylesheets = 
    /vendor/libs/mathquill-0.9.4/mathquill.css
    **end-list**

[nodeserver-env-external-libraries-jquery]
url = https://code.jquery.com/jquery-2.1.3.min.js
definesSymbol = jQuery.noConflict
invokeDefinedSymbol = true

[nodeserver-env-external-libraries-jquery.payment]
requires =
    jquery
    stripe
    **end-list**
url = https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.3.2/jquery.payment.min.js
definesSymbol = jQuery.payment

[nodeserver-env-external-libraries-stripe]
url = https://js.stripe.com/v2/
definesSymbol = Stripe

[nodeserver-env-site-mappings]
ou-alpha.nextthought.com = platform.ou.edu
ou-test.nextthought.com = platform.ou.edu
janux.ou.edu = platform.ou.edu
janux.dev = platform.ou.edu
platform.ou.edu-section = nodeserver-env-site-mappings-platform.ou.edu
okstate-alpha.nextthought.com = okstate.nextthought.com
okstate-test.nextthought.com = okstate.nextthought.com
learnonline.okstate.edu = okstate.nextthought.com
okstate.dev = okstate.nextthought.com
okstate.nextthought.com-section = nodeserver-env-site-mappings-okstate.nextthought.com
symmys-alpha.nextthought.com = symmys.nextthought.com
lab.symmys.com = symmys.nextthought.com
symmys.dev = symmys.nextthought.com
symmys.nextthought.com-section = nodeserver-env-site-mappings-symmys.nextthought.com
alpha.dev = alpha.nextthought.com
alpha.nextthought.com-section = nodeserver-env-site-mappings-alpha.nextthought.com
prmia-alpha.nextthought.com = prmia.nextthought.com
prmia-test.nextthought.com = prmia.nextthought.com
prmia.dev = prmia.nextthought.com
prmia.nextthought.com-section = nodeserver-env-site-mappings-prmia.nextthought.com
i2online.nextthought.com = i2.nextthought.com
i2-test.nextthought.com = i2.nextthought.com
i2.dev = i2.nextthought.com
i2-alpha.nextthought.com = i2.nextthought.com
i2.nextthought.com-section = nodeserver-env-site-mappings-i2.nextthought.com

[nodeserver-env-site-mappings-platform.ou.edu]
name = platform.ou.edu
title = Janux

[nodeserver-env-site-mappings-okstate.nextthought.com]
name = okstate.nextthought.com
title = NextThought

[nodeserver-env-site-mappings-symmys.nextthought.com]
name = symmys.nextthought.com
title = SYMMYS

[nodeserver-env-site-mappings-alpha.nextthought.com]
name = alpha.nextthought.com
title = Alpha

[nodeserver-env-site-mappings-prmia.nextthought.com]
name = prmia.nextthought.com
title = PRMIA

[nodeserver-env-site-mappings-i2.nextthought.com]
name = i2.nextthought.com
title = i2 Online

[webapp-conf]
recipe = z3c.recipe.filetemplate
source-directory = templates
dest-directory = ${deployment:root-directory}
files = config.js

# The list of features and whether they are on or
# not. The last one should not be followed by a comma.
# Probably best to replace this entirely per-environment
# than extend it.
features =
 		 "mutable-forums":true,
		 "fancy-scroll":true,
		 "notepad":true,
		 "v3matching":false,
		 "transcript-follow-video":true,
		 "video-settings":true

#We can optionally specificy a kaltura uiconf id which is
#nice for testing features outside of prod (blank by default
#which means the one hardcoded in the app)
kalturaUIID =

# The location to redirect to when
# the user is not logged in
unauth_location = ${environment:loginapp_location}

# prevent usernames from displaying
# in the app as plain text
obscure_usernames = false

#Open external PDF Content Card links in a new tab
external_pdf_new_window = false

# Whether mobile Safari is allowed
allow_mobile_safari = false

# A string hash value for CloudFront
# CORS caching issues. Environment specific.
cors_salt =  ${environment:global_host_name}

# The master switch to remove user profile
# support. Set to true in COPPA environments
disable_profiles = false

# Controls the presence of a global onerror
# handler to trap uncaught errors during load.
# on by default but useful to turn off in dev environments
enable_global_onerror = true

# Controls the console output mode. (On or Off)
enable_logging = true

# The amount of time a user can be inactive before we deem
# their session has ended.  I.E if a user walks away
# from an open browser tab at what time does the existing session
# end.  Defaults to 900 seconds (15 minutes)
activity_inactive_timeout = 900

# The amount of time a user can be inactive before we warn
# their session is about to end. Defaults to (12 minutes)
activity_inactive_warn = 720

# The amount of time after a users tab is blurred before
# there session is considered inactive.  Defaults to 900 seconds (15 minutes)
activity_blur_timeout = 900

# The amount of time after a users tab is blurred before they are warned that there session
# is about to end.  Defaults to 0 (don't warn)
activity_blur_warn = 0

