[buildout]
extends = 
		buildout.cfg
		recipes.cfg
		logrotate.cfg
		memcached.cfg
		supervisor.cfg

parts =
		logrotate-conf
		logrotate-cron
		supervisor

[sources]
<= recipes-sources

[logrotate-cron]
logrotate-bin = /usr/sbin/logrotate

[directories]
paths =
	  ${deployment:etc-directory}
	  ${deployment:run-directory}
	  ${deployment:log-directory}

[memcached-conf]
memcached-bin = /usr/bin/memcached
extra-opts = -m 512 -c 4000

[supervisor]
# Disable supervisord based log rotation because we have switched to using logrotate
logfile-maxbytes = 0
childstdout-logfile-maxbytes = 0
childstderr-logfile-maxbytes = 0
# Don't wipe away existing logs
nocleanup = True
programs =
        ${memcached-conf:memcached-supervisor}
