# A buildout mixin defining the available products, one section
# for source and one section for its egg. Each product is also listed
# in the ALL section for testing and environments that want
# everything.

[product-courseware-sources]
nti.app.products.courseware = svn https://repos.nextthought.com/svn/nti-svn/nti.app.products.courseware/trunk
[product-courseware-eggs]
eggs = nti.app.products.courseware

[product-gradebook-sources]
nti.app.products.gradebook = svn https://repos.nextthought.com/svn/nti-svn/nti.app.products.gradebook/trunk
[product-gradebook-eggs]
eggs = nti.app.products.gradebook

[product-ou-sources]
nti.app.products.ou = svn https://repos.nextthought.com/svn/nti-svn/nti.app.products.ou/trunk
[product-ou-eggs]
eggs = nti.app.products.ou

# A synthetic product defining
# the things required for courses in general
[product-courses-sources]
<= product-courseware-sources
   product-gradebook-sources
[product-courses-eggs]
eggs =
	 nti.app.products.courseware
	 nti.app.products.gradebook

[product-ALL-sources]
<= product-courses-sources
   product-ou-sources

[product-ALL-eggs]
eggs =
	 ${product-courses-eggs:eggs}
	 ${product-ou-eggs:eggs}
