[buildout]
extends =
		 versions.cfg
		 pillow.cfg
		 recipes.cfg
		 deployment.cfg
		 
update-versions-file = versions.cfg
show-picked-versions = true

# python_ldap and related can move.
parts =
		cython
		lxml
		pillow
		eggs
		checkversions

newest = false
relative-paths = false

# mr developer
extensions = mr.developer
mr.developer-threads = 10
sources-dir = sources
auto-checkout = *

[server-versions]
All =

[qa-ALL-sources]
nti.qa.common = svn https://repos.nextthought.com/svn/nti-svn/nti.qa.common/trunk${server-versions:All}
nti.qa.webapp = svn https://repos.nextthought.com/svn/nti-svn/NextThoughtMobileWebAppFunctionalTest/trunk${server-versions:All}

[qa-ALL-eggs]
eggs =
	nti.qa.common
	
[sources]
<= qa-ALL-sources
	
[cython]
recipe = zc.recipe.egg
eggs =
	cython

[testing-ALL-eggs]
eggs=
	nose
	nose2
	nose2-cov
	nose-timer
	nose-progressive
	zope.testrunner
		
[deployment]
root-directory = ${buildout:directory}

[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml==3.8.0
libxml2-url = http://xmlsoft.org/sources/libxml2-2.9.4.tar.gz
libxslt-url = http://xmlsoft.org/sources/libxslt-1.1.29.tar.gz

[eggs]
recipe = zc.recipe.egg
common_egg = nti.qa.common[tools]
eggs =
	 cython
	 pillow
	 pip
	 ${:common_egg}
	 ${qa-ALL-eggs:eggs}
	 ${testing-ALL-eggs:eggs}
interpreter = python
dependent-scripts = true
initialization =
				import os
				os.environ['DATASERVER_DIR_IS_BUILDOUT'] = "1"
				os.environ['DATASERVER_DIR'] = "${deployment:root-directory}"
				os.environ['DATASERVER_ETC_DIR'] = "${deployment:etc-directory}"
				os.environ['DATASERVER_DATA_DIR'] = "${deployment:data-directory}"

[checkversions]
recipe = zc.recipe.egg
eggs = z3c.checkversions [buildout]

[clean-pyc]
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds = find ${buildout:sources-dir} -name "*.py[co]" -delete

[omelette]
recipe = collective.recipe.omelette
eggs = ${eggs:eggs}
