[buildout]
extends = 
	  mysql.cfg
	  base_environment.cfg
parts +=
	  mysql
	  MySQL-python
	  supervisor
	  relstorages

# To use this configuration as a base, you MUST
# define an [environment] section. You can
# do it in your extension file (fine for host names,
# but not the passwords) and/or in ~/.buildout/default.cfg
# (which is a good place to keep passwords). You can also
# specify the values on the buildout command line.
# Or we could do something like http://ejohn.org/blog/keeping-passwords-in-source-control/

[relstorages]
recipe = nti.recipes.zodb:relstorage
storages = Users Users_1 Sessions

# TODO: relstorage environment needs support for
# init-ing the basic database. This should be
# easy with minor changes to nti.dataserver.config/nti_init_env
# (just need to use the right URIs)

# Even though we primarily use umysqldb with mysql for relstorage,
# we need the native client drivers inorder to run
# packs and exports in large databases. There is a recipe for that:

## This MUST be a .tar.gz file (a .zip file DOES NOT work)
#mysql-python-url = https://s3.amazonaws.com/dev.nextthought.com/MySQL-python-1.2.4.tar.gz

# Or we could add it to the eggs. This requires
# mysql_config to be an the path, and the developemnt
# headers and link library to be available...we can make that
# happen by downloading the distribution (it's hard to get it to
# reliably compile)
[eggs]
eggs += ${MySQL-python:the-egg}

