# Buildout mixin file for site configurations. Each site has a source section
# and an egg section; there are also a set of ALL sections that
# pull all known sites together for ease of testing and support
# of environments that want all site definitions

[site-versions]
columbia = rev=3ded5f03e53aa54804225a8a047014c405f71c9b
connect = rev=9409e0be51ddc5452edce8f3bcd451a23e30652f
litworld = rev=8aea7a056a37a49cc3e48d1eb5b00ce889e43446
oc = rev=fc18373ba41168132f23e2dd92989c39498c6ae3
okstate = rev=264613b819efc5060c629d811be9c0f688b244a4
prmia = rev=f4822f872fe16518697ff592b021a4aab9b8338d
symmys = rev=4c20bedc431ce9dadf037673cf1f94ee7ddfd82e

[site-alpha-sources]
nti.app.sites.alpha = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.alpha/trunk${server-versions:All}

[site-alpha-eggs]
eggs = nti.app.sites.alpha

[site-columbia-sources]
nti.app.sites.columbia = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.columbia/trunk
nti.client.sites.columbia = git https://repos.nextthought.com/git/nti.client.sites.columbia ${site-versions:columbia} egg=false

[site-columbia-eggs]
eggs = nti.app.sites.columbia

[site-columbia-nginx]
recipe = z3c.recipe.filetemplate
source-directory = templates
dest-directory = ${deployment:root-directory}
# the main conf file is already installed
# as part of building nginx, we must overwrite it
force-overwrite = true
files = columbia.conf

global_host_name = columbia.nextthought.com columbia-alpha.nextthought.com columbia-test.nextthought.com
landingpage_path = ${environment:global_content_directory}
sitepackage_location = ${buildout:root-directory}/node_modules/nti-client-sites-columbia

[site-demo-sources]
nti.app.sites.demo = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.demo/trunk${server-versions:All}

[site-demo-eggs]
eggs = nti.app.sites.demo

[site-utsa-sources]
nti.app.sites.utsa = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.utsa/trunk${server-versions:All}

[site-utsa-eggs]
eggs = nti.app.sites.utsa

[site-law-sources]
nti.app.sites.law = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.law/trunk${server-versions:All}

[site-law-eggs]
eggs = nti.app.sites.law

[site-litworld-sources]
nti.app.sites.litworld = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.litworld/trunk${server-versions:All}
nti.client.sites.litworld = git https://repos.nextthought.com/git/nti.client.sites.litworld ${site-versions:litworld} egg=false

[site-litworld-eggs]
eggs = nti.app.sites.litworld

[site-litworld-nginx]
recipe = z3c.recipe.filetemplate
source-directory = templates
dest-directory = ${deployment:root-directory}
# the main conf file is already installed
# as part of building nginx, we must overwrite it
force-overwrite = true
files = litworld.conf

global_host_name = litworld.nextthought.com litworld-alpha.nextthought.com litworld-test.nextthought.com
landingpage_path = ${environment:global_content_directory}
sitepackage_location = ${buildout:root-directory}/node_modules/nti-client-sites-litworld

[site-mathcounts-sources]
nti.app.sites.mathcounts = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.mathcounts/trunk${server-versions:All}

[site-mathcounts-eggs]
eggs = nti.app.sites.mathcounts

[site-personalleadorship-sources]
nti.app.sites.personalleadership = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.personalleadership/trunk${server-versions:All}

[site-personalleadorship-eggs]
eggs = nti.app.sites.personalleadership

[site-prmia-sources]
nti.app.sites.prmia = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.prmia/trunk${server-versions:All}
nti.client.sites.prmia = git https://repos.nextthought.com/git/nti.client.sites.prmia ${site-versions:prmia} egg=false

[site-prmia-eggs]
eggs = nti.app.sites.prmia

[site-prmia-nginx]
recipe = z3c.recipe.filetemplate
source-directory = templates
dest-directory = ${deployment:root-directory}
# the main conf file is already installed
# as part of building nginx, we must overwrite it
force-overwrite = true
files = prmia.conf

global_host_name = prmia.nextthought.com prmia-alpha.nextthought.com prmia-test.nextthought.com
landingpage_path = ${environment:global_content_directory}
sitepackage_location = ${buildout:root-directory}/node_modules/nti-client-sites-prmia

[site-rwanda-sources]
nti.app.sites.rwanda = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.rwanda/trunk${server-versions:All}

[site-rwanda-eggs]
eggs = nti.app.sites.rwanda

[site-okchristian-sources]
nti.app.sites.okchristian = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.okchristian/trunk${server-versions:All}
nti.client.sites.oc = git https://repos.nextthought.com/git/nti.client.sites.oc ${site-versions:oc} egg=false

[site-okchristian-eggs]
eggs = nti.app.sites.okchristian

[site-oc-nginx]
recipe = z3c.recipe.filetemplate
source-directory = templates
dest-directory = ${deployment:root-directory}
# the main conf file is already installed
# as part of building nginx, we must overwrite it
force-overwrite = true
files = oc.conf

global_host_name = oc.nextthought.com oc-alpha.nextthought.com oc-test.nextthought.com
landingpage_path = ${environment:global_content_directory}
sitepackage_location = ${buildout:root-directory}/node_modules/nti-client-sites-oc

[site-symmys-sources]
nti.app.sites.symmys = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.symmys/trunk${server-versions:All}
nti.client.sites.symmys = git https://repos.nextthought.com/git/nti.client.sites.symmys ${site-versions:symmys} egg=false

[site-symmys-eggs]
eggs = nti.app.sites.symmys

[site-symmys-nginx]
recipe = z3c.recipe.filetemplate
source-directory = templates
dest-directory = ${deployment:root-directory}
# the main conf file is already installed
# as part of building nginx, we must overwrite it
force-overwrite = true
files = symmys.conf

global_host_name = lab.symmys.com symmys.nextthought.com symmys-alpha.nextthought.com symmys-test.nextthought.com
landingpage_path = ${environment:global_content_directory}
sitepackage_location = ${buildout:root-directory}/node_modules/nti-client-sites-symmys

[site-wiley-sources]
nti.app.sites.wiley = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.wiley/trunk${server-versions:All}

[site-wiley-eggs]
eggs = nti.app.sites.wiley

[site-morgan-wiley-sources]
nti.app.sites.morgan_wiley = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.morgan_wiley/trunk${server-versions:All}

[site-morgan-wiley-eggs]
eggs = nti.app.sites.morgan_wiley

[site-alibra-sources]
nti.app.sites.alibra = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.alibra/trunk${server-versions:All}

[site-alibra-eggs]
eggs = nti.app.sites.alibra

[site-augs-sources]
nti.app.sites.augs = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.augs/trunk${server-versions:All}

[site-augs-eggs]
eggs = nti.app.sites.augs

[site-history-sources]
nti.app.sites.history = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.history/trunk${server-versions:All}

[site-history-eggs]
eggs = nti.app.sites.history

[site-ihs-sources]
nti.app.sites.ihs = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.ihs/trunk${server-versions:All}

[site-ihs-eggs]
eggs = nti.app.sites.ihs

[site-performance-sources]
nti.app.sites.performance = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.performance/trunk${server-versions:All}

[site-performance-eggs]
eggs = nti.app.sites.performance

[site-janux-sources]
nti.client.sites.janux = git https://repos.nextthought.com/git/nti.client.sites.janux egg=false

[site-janux-nginx]
recipe = z3c.recipe.filetemplate
source-directory = templates
dest-directory = ${deployment:root-directory}
# the main conf file is already installed
# as part of building nginx, we must overwrite it
force-overwrite = true
files = janux.conf

global_host_name = janux.ou.edu platform.ou.edu ou-alpha.nextthought.com ou-test.nextthought.com
landingpage_path = ${buildout:root-directory}/node_modules/nti-landingpage-janux/dist
sitepackage_location = ${buildout:root-directory}/node_modules/nti-client-sites-janux

[site-okstate-sources]
nti.app.sites.okstate = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.okstate/trunk${server-versions:All}
nti.client.sites.okstate = git https://repos.nextthought.com/git/nti.client.sites.okstate ${site-versions:okstate} egg=false

[site-okstate-eggs]
eggs = nti.app.sites.okstate

[site-okstate-nginx]
recipe = z3c.recipe.filetemplate
source-directory = templates
dest-directory = ${deployment:root-directory}
# the main conf file is already installed
# as part of building nginx, we must overwrite it
force-overwrite = true
files = okstate.conf

global_host_name = learnonline.okstate.edu okstate.nextthought.com okstate-test.nextthought.com okstate-alpha.nextthought.com
landingpage_path = ${buildout:root-directory}/node_modules/nti-content-landingpage-okstate/dist
sitepackage_location = ${buildout:root-directory}/node_modules/nti-client-sites-okstate

[site-connect-sources]
nti.app.sites.connect = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.connect/trunk${server-versions:All}
nti.client.sites.connect = git https://repos.nextthought.com/git/nti.client.sites.connect ${site-versions:connect} egg=false

[site-connect-eggs]
eggs = nti.app.sites.connect

[site-connect-nginx]
recipe = z3c.recipe.filetemplate
source-directory = templates
dest-directory = ${deployment:root-directory}
# the main conf file is already installed
# as part of building nginx, we must overwrite it
force-overwrite = true
files = connect.conf

global_host_name = connect.nextthought.com conect-alpha.nextthought.com connect-test.nextthought.com
landingpage_path = ${buildout:root-directory}/node_modules/nti-content-landingpage-connect/dist
sitepackage_location = ${buildout:root-directory}/node_modules/nti-client-sites-connect

[site-k20-sources]
nti.app.sites.k20 = svn https://repos.nextthought.com/svn/nti-svn/nti.app.sites.k20/trunk

[site-k20-eggs]
eggs = nti.app.sites.k20

[site-ALL-sources]
<= 	site-alpha-sources
	site-columbia-sources
	site-demo-sources
	site-utsa-sources
	site-law-sources
	site-litworld-sources
	site-mathcounts-sources
	site-okchristian-sources
	site-personalleadorship-sources
	site-prmia-sources
	site-rwanda-sources
	site-symmys-sources
	site-alibra-sources
	site-wiley-sources
	site-augs-sources
	site-history-sources
	site-ihs-sources
	site-k20-sources
	site-okstate-sources
	site-connect-sources
	site-columbia-sources
	site-morgan-wiley-sources
	site-performance-sources
	site-janux-sources

[site-ALL-eggs]
eggs =
	 nti.app.sites.alpha
	 nti.app.sites.columbia
	 nti.app.sites.demo
	 nti.app.sites.utsa
	 nti.app.sites.law
	 nti.app.sites.litworld
	 nti.app.sites.mathcounts
	 nti.app.sites.okchristian
	 nti.app.sites.personalleadership
	 nti.app.sites.prmia
	 nti.app.sites.rwanda
	 nti.app.sites.symmys
	 nti.app.sites.wiley
	 nti.app.sites.alibra
	 nti.app.sites.augs
	 nti.app.sites.ihs
	 nti.app.sites.k20
	 nti.app.sites.okstate
	 nti.app.sites.history
	 nti.app.sites.connect
	 nti.app.sites.columbia
	 nti.app.sites.morgan_wiley
	 nti.app.sites.performance
