[solr-ALL-sources]
nti.solr = svn https://repos.nextthought.com/svn/nti-svn/nti.solr/trunk${server-versions:All}
nti.app.solr = svn https://repos.nextthought.com/svn/nti-svn/nti.app.solr/trunk${server-versions:All}

[solr-ALL-eggs]
eggs =
	nti.solr
	nti.app.solr

[solr]
# solr settings
xmx = 6g
url = http://localhost:8983/solr
# supervisor settings
solr-supervisor = 1 solr ${deployment:bin-directory}/nti_solr [start -m ${solr:xmx} -f -s ${deployment:data-directory}/solr]
solr_indexer-supervisor = 99 solr_indexer ${deployment:bin-directory}/nti_solr_indexer [-v]

[solr-conf]
recipe = z3c.recipe.filetemplate
source-directory = templates
dest-directory = ${deployment:root-directory}
files = 785-nti.app.solr.zcml

[solr_install]
recipe = hexagonit.recipe.download
strip-top-level-dir = true
url = https://downloads.nextthought.com/deps/solr-7.4.0.tgz

[solr_setup]
# 1. Symlink solr to our bin as nti_solr
# 2. Create the nti core
# 3. Copy our configs and the default solr.cfg files into the data dir.
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds =  ln -sf ${solr_install:location}/bin/solr ${deployment:bin-directory}/nti_solr
		mkdir -p ${deployment:data-directory}/solr/nti
		cp -R ${solr_install:location}/server/solr/* ${deployment:data-directory}/solr/
		echo 'name=nti' > ${deployment:data-directory}/solr/nti/core.properties
		cp -R ${buildout:sources-dir}/nti.solr/conf ${deployment:data-directory}/solr/nti/

