[solr-sources]
nti.solr = svn https://repos.nextthought.com/svn/nti-svn/nti.solr/trunk${server-versions:All}
nti.app.solr = svn https://repos.nextthought.com/svn/nti-svn/nti.app.solr/trunk${server-versions:All}

[solr-ALL-eggs]
eggs =
	nti.solr
	nti.app.solr

[buildout]
parts +=
	solr
	solr_configs

[solr-download]
recipe = hexagonit.recipe.download
strip-top-level-dir = true
url = http://www-us.apache.org/dist/lucene/solr/6.2.1/solr-6.2.1.tgz

[solr]
recipe = collective.recipe.solrinstance:mc
# Required, ignored if solr-location exists
solr-version = 5
solr-location = ${solr-download:location}
host =
port =
cores = nti
# Must specify empty unique-key/index
unique-key =
index =
java_opts =
	-Xms256M
	-Xmx2048M
abortOnConfigurationError = True

[nti]
extra-conf-files =  ${buildout:sources-dir}/nti.solr/conf/*
max-num-results = 500
section-name = SOLR

[solr_configs]
# Force update of our confs
recipe = collective.recipe.cmd
on_install = true
cmds = cp -R ${buildout:sources-dir}/nti.solr/conf ${deployment:root-directory}/parts/solr/solr/nti/

[supervisor]
programs +=
		 1 solr ${deployment:bin-directory}/solr-instance start
		 99 solr_indexer ${deployment:bin-directory}/nti_solr_indexer [-v]
