[tex-live-installer]
recipe = hexagonit.recipe.download
url = http://mirror.ctan.org/systems/texlive/tlnet/install-tl-unx.tar.gz
strip-top-level-dir = true

[tex-live-profile]
recipe = z3c.recipe.filetemplate
source-directory = templates
files = texlive.profile

texlive-dir = ${buildout:root-directory}/parts/texlive

[tex-live]
recipe = collective.recipe.cmd
on_install = true
# Even using the small distribution, it takes
# ~30 minutes to install this.
# We're creating it portable, so we may be able to
# store an archive of the dir and just unpack
# that?
cmds = ${tex-live-installer:destination}/install-tl -portable -profile ${buildout:root-directory}/etc/texlive.profile

[tex-live:macosx]
recipe = hexagonit.recipe.download
url = https://s3.amazonaws.com/dev.nextthought.com/texlive.tar.bz2
strip-top-level-dir = true

[asymptote-gc]
recipe = hexagonit.recipe.download
url = http://www.hpl.hp.com/personal/Hans_Boehm/gc/gc_source/gc-7.2d.tar.gz
destination=${buildout:directory}/parts/asymptote

[asymptote]
recipe = hexagonit.recipe.cmmi
url = http://sourceforge.net/projects/asymptote/files/2.24/asymptote-2.24.src.tgz
make-targets =
			 all
			 install

#[eggs]
## Add our installed binaries to the PATH for
## these utilities
#initialization +=
#			 os.environ['PATH'] = "${tex-live-profile:texlive-dir}/bin/x86_64-darwin" + os.pathsep + os.environ['PATH']